header {
    position: relative;
    background-image: linear-gradient(to right, rgb(0, 110, 255), rgb(80, 0, 80));
    display: flex;
    color: white;
    margin-bottom: 1%;
    font-size: 200%;
}

#title {
    display: flex;
    text-align: center;
    margin: 0 auto;
    padding: 1.5%;
}

h1, h2, h3 {
    font-weight: bold;
}

#broad {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}

article {
    display: block;
    flex: 1 0 18%;
    margin: 1%;
}

main {
    display: block;
    flex: 1 0 60%;
    margin-right: 8%;
}

main > div {
    border: solid black 2px;
}
ul {
    border-top: solid gray 1px;
    margin-top: 5%;
}
h2 {
    font-size: 175%;
}

h3 {
    font-size: 150%;
}